@charset "utf-8";
/* CSS Document */

#overview
{
	position:absolute;
	top:120px;
	width: 70%;
	height: 100%;	
	border:1px solid #90C;
}
#recent
{
	position:absolute;
	top:120px;
	right:0px;
	width: 30%;
	height: 100%;	
	border:1px solid #CC3;
}